{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "parser": "babel-eslint",
    "rules": {
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": ["support/**", "test/**"]
            }
        ],
        "prettier/prettier": "error",
        "quotes": "off"
    },
    "globals": {
        "window": true
    },
    "plugins": ["react", "prettier", "flowtype"],
    "env": {
        "browser": true
    }
}
